body{
    background-color: aliceblue;
    text-align: center;
    font-size: 1.1rem;

}

h1{
    background-image:
    linear-gradient(to right, rgb(246, 123, 143), transparent);
    text-align: center;
    margin: 3px;
}